{% extends 'pages/main.html' %}

{% load static %}

{% block content %}

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url({% static 'GymNow_site/images/available-bookings.jpg' %});
    }
</style>

<br>

<div class="row">
    <div class="col">
        <div class="card card-body">

            <form method="get">
                {{myFilter.form.as_p}}

                <button class="btn btn-primary" type="submit">Search</button>
            </form>

        </div>
    </div>

</div>

<br>


<div class="card card-body">

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Location</th>
            <th>Business Name</th>
            <th>Bookings</th>
        </tr>
        </thead>
        {% for i in available_bookings %}
        <tr>
            <td>{{i.location}}</td>
            <td><a href='{{i.get_absolute_url}}'>{{i.business_name}}</a></td>
            <!-- this loops through avaible bookings -->
            {% for available_bookings in i.available_bookings.all %}
            <td>{{available_bookings}}</td>
            {% endfor %}

        </tr>
        {% endfor %}
    </table>

</div>
</div>

</div>


{% endblock%}