{% extends 'pages/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            {% for business_owner in business_owners %}
            <h5>{{business_owner.business_name}}</h5>
            <h5>{{business_owner.location}}</h5>

        </div>
    </div>

    <div class="owner-image">
        <img src="{{business_owner.image.url }}">
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{business_owner.email}}</p>
            <p>Phone: {{business_owner.phone}}</p>
            {% endfor %}
        </div>
    </div>
    
    <!-- <div class="owner-image">
        <img src="{{business_owner.image.url }}">
    </div> -->
    
</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-md">
                    <th>Bookings</th>

                {% for i in business_owners %}

                <tr>
                    {% for available_bookings in i.available_bookings.all %}
                    <td>{{available_bookings}}
                        <div class="col-auto">
                            <button class="btn btn-lg btn-primary" type="submit">Book</button>
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}