{% extends 'pages/main.html' %}

{% load static %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            {% for business_owner in business_owners %}
            <h5>{{business_owner.business_name}}</h5>

        </div>
    </div>

    <div class="owner-image">
        <img src="{{business_owner.image.url }}">
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{business_owner.email}}</p>
            <p>Phone: {{business_owner.phone}}</p>
            {% endfor %}
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Location</th>
                    <th>Bookings</th>
                    <th>Book</th>
                </tr>

                {% for i in business_owners %}


                <tr>
                    <td>{{i.location}}</td>
                    {% for available_bookings in i.available_bookings.all %}
                    <td>{{available_bookings}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}