{% extends 'pages/main.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'homepage' %}">&#x2190; Continue Shopping</a>

            <br>
            <br>
            <table class="table">
					<tr>
						<th><h5>Bookings: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> €{{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

        </div>

        <br>
        <div class="card card-body">
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>Item</th>
                    <th>Time</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                </thead>
            {% for item in items %}
            <tr>
                <td>{{item.booking.business}}</td>
                <td>{{item.booking.time}}</p>
                <td>€{{item.booking.price}}</p>
                <td class="quantity">{{item.quantity}} <img data-product="{{item.booking.id}}" data-action="add" class="chg-quantity update-cart"
                    src="{% static  'GymNow_site/images/arrow-up.png' %}">

                <img data-product="{{item.booking.id}}" data-action="remove" class="chg-quantity update-cart"
                    src="{% static  'GymNow_site/images/arrow-down.png' %}"></td>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}