{% extends 'pages/main.html' %}

{% load static %}

{% block content %}

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
        background-image: url({% static 'GymNow_site/images/available-bookings.jpg' %});
    }
</style>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer: {{user.full_name}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{user.email}}</p>
			<p>Phone: {{user.phone_number}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_orders}}</h1>
		</div>
	</div>
</div>



<div class="card">
	<table class="table table-dark">
		<th>Bookings</th>
	</table>

	<div class="row">
		<div class="col-sm-6">
			<div class="card border border-dark shadow-0 mb-3" style="max-width: 18rem">
				<div class="card-body">
					{% for customerbooking in customerbookings %}
					<p class="card-text">{{customerbooking}}</p>
					<button data-customerbooking="{{customerbooking.id}}" data-action="Delete"
					class="btn btn-danger add-btn update-booking"> Delete Booking</button>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


	{% endblock content %}