{% extends 'pages/main.html' %}

{% block content %}

{% load static %}


<!-- homepage carosuel -->
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5500">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- first image in the slide show with link to avaolable bookings-->
        <div class="carousel-item active">
            <picture>
                <img class="d-block img-fluid" src="{% static 'GymNow_site/images/carosel_pic1.jpg' %}"
                    alt="First slide">
            </picture>

            <div class="carousel-caption">
                <div>
                    <h2>FIND BOOK TRAIN</h2>
                    <p>We offer 150 locations in 28 counties</p>
                    <a class="btn btn-primary btn-lg" href="/available_bookings/" role="button">Book Now</a>
                </div>
            </div>
            </a>
        </div>
        <!-- second image in the slide show with link to membership sign up -->
        <div class="carousel-item">
            <picture>
                <img class="d-block img-fluid" src="{% static 'GymNow_site/images/carosel_pic2.jpg' %}"
                    alt="Second slide">
            </picture>

            <div class="carousel-caption justify-content-center align-items-center">
                <div>
                    <h2>Become a GymNow member</h2>
                    <p>Gain Access to over 150 Gyms, Personal Trainers, plates classes and yoga classes
                        for one monthly rate
                    </p>
                    <a class="btn btn-primary btn-lg" href="/membership_form/" role="button">Sign Up</a>
                </div>
            </div>
            </a>
        </div>
       <!-- third image in the slide show with link to enroll business -->
        <div class="carousel-item">
            <picture>
                <img class="d-block img-fluid" src="{% static 'GymNow_site/images/carosel_pic3.jpg' %}"
                    alt="Third slide">
            </picture>

            <div class="carousel-caption justify-content-center align-items-center">
                <div>
                    <h2>Add Your Business</h2>
                    <p>Join the fastest growing netwrok on sport facilties and trainers in Ireland</p>
                    <a class="btn btn-primary btn-lg" href="/Enroll_business/" role="button">Learn How</a>
                </div>
            </div>
            </a>
        </div>
        <!-- /.carousel-item -->
    </div>
    <!-- /.carousel-inner -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->

<div class="container-fluid text-center">
</div>

{% endblock %}
