body{
    background:#ddd;
    }
/* .form-control-borderless{
    border: none;
}
    
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus{
    border: none;
    outline: none;
    box-shadow: none;
} */

.carousel .carousel-item {
    height: 90vh;

  }


.carousel-caption {
    top: 45%
}

.form_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #0cd47791;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.forms_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}
.login_button {
    width: 100%;
    background: #5c1a1a !important;
    color: white !important;
}
.login_button:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #05701c !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.owner-image {
    width: 350px;
    height: 350px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 1em;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

body {
    background: #f5f5f5
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

